<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>
      <img src="assets/logo_header.png" alt="logo">
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content (ionScroll)="onScroll($event)">
  <div class="moduletop">
    <h3>{{ 'Categories' | translate }}
      <small (click)="openCategoryPage()">{{ 'View All' | translate }}</small>
    </h3>
    <categories [type]="'withName'"></categories>
  </div>
  <banners></banners>
  <div class="modules">
    <!-- Top Seller -->
    <div class="module">
      <h3>{{ 'Newest Products' | translate }}
        <small (click)="openProducts('latest')">{{ 'View All' | translate }}</small>
      </h3>
      <ion-slides slidesPerView=2.2 class="animate-product" dir="{{shared.dir}}">
        <ion-slide *ngFor="let p of shared.tab1">
          <product [data]="p" [type]="'normal'"></product>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  <!-- top Segments  -->
  <ion-segment [(ngModel)]="segments" color="primary">
    <ion-segment-button value="sale">{{ 'On Sale' | translate }} </ion-segment-button>
    <ion-segment-button value="mostLiked"> {{ 'Featured' | translate }}</ion-segment-button>
  </ion-segment>

  <!-- top segments products -->
  <div class="module" [ngSwitch]="segments">
    <div *ngSwitchCase="'sale'">
      <ion-grid>
        <ion-col *ngFor="let p of shared.tab2" col-6>
          <product [data]="p" [type]="'normal'"></product>
        </ion-col>

        <ion-col *ngIf="shared.tab3.length==0" col-12 class="animated fadeIn">
          <h6 text-center>{{'No Products Found!'|translate}}</h6>
        </ion-col>
       
        <button ion-button icon-end color="secondary" (click)="openProducts('sale')">{{ 'View All' | translate }}
            <ion-icon name="ios-arrow-dropright-circle-outline"></ion-icon>
        </button>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'mostLiked'">
      <ion-grid>
        <ion-col *ngFor="let p of shared.tab3" col-6>
          <product [data]="p" [type]="'normal'"></product>
        </ion-col>

        <ion-col *ngIf="shared.tab3.length==0" col-12 class="animated fadeIn">
          <h6 text-center>{{'No Products Found!'|translate}}</h6>
        </ion-col>
        <button ion-button icon-end color="secondary" (click)="openProducts('featured')">{{ 'View All' | translate }}
            <ion-icon name="ios-arrow-dropright-circle-outline"></ion-icon>
        </button>
      </ion-grid>
    </div>
   
  </div>
</ion-content>
<ion-footer *ngIf="config.footerShowHide==1">
  <footer></footer>
</ion-footer>