<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>
      <img src="assets/logo_header.png" alt="logo">
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content (ionScroll)="onScroll($event)">
  <banners></banners>




  <div class="moduletop">
    <h3>{{ 'Categories' | translate }}
      <small (click)="openCategoryPage()">{{ 'View All' | translate }}</small>
    </h3>
    <categories [type]="'withName'"></categories>
  </div>

  <!-- Deals -->
  <div class="module">
    <h3>{{ 'On Sale' | translate }}
      <small (click)="openProducts('sale')">{{ 'View All' | translate }}</small>
    </h3>
    <ion-slides slidesPerView=2.2 class="animate-product" dir="{{shared.dir}}">
      <ion-slide *ngFor="let p of shared.tab2">
        <product [data]="p" [type]="'normal'"></product>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="banner" *ngIf="shared.banners">
    <img src="{{shared.banners[shared.banners.length-1].banners_image}}">
  </div>
  <div class="module">
    <h3>{{ 'All Products' | translate }}
      <small (click)="openProducts('featured')">{{ 'View All' | translate }}</small>
    </h3>
    <scrolling-featured-products></scrolling-featured-products>
  </div>

  <ion-fab bottom right *ngIf="scrollTopButton">
    <button ion-fab (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-footer *ngIf="config.footerShowHide==1">
  <footer></footer>
</ion-footer>