.slides{
    height: auto;
    .swiper-slide{

    }
    .swiper-pagination-bullet{
        background-color:darken(color($colors, light), 20%);
        border: 1px solid darken(color($colors, light), 35%);
        opacity: 1;
        height: 10px;
        width: 10px;
    }
    .swiper-pagination-bullet-active{
        background:color($colors, secondary);
    }
}

.pr-banner-size{
    width: 100% !important;
    height: 40pc !important;
}


@media only screen and (max-width: 600px) {

    .pr-banner-size{
        width: 100% !important;
        height: 14pc !important;
    }
    

}
